<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lets have some Fun</title>
</head>
<body>
<h1>
    Enter any text you want
</h1>
<form action='/analyzer' method='get'>
    <textarea name="text" style='margin: 0px; width: 1024px; height: 114px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="fullcaps"> Full CAPITALIZATION<br>
    <input type="checkbox" name="spaceremove"> Space remover<br>
    <input type="checkbox" name="newlineremove"> REmove new line<br>
    <input type="checkbox" name="charcount"> Char count<br>
    <button type='submit'> submit wa</button>
</form'>
</body>
</html>